.searchDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 2rem;
}

.searchDes{
    color: white;
}
.button {
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  margin-top: 2rem;
}
  
.button:hover {
  background-color: #3654ff;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}
.SearchImgDiv{
  width: 100%;
}
.searchImg{
  width: 12rem;
  height: 12rem;
}

.text {
  margin: 0 1.5em;
  font-size: 1.1rem;
  font-weight: bold;
}
.searchDes{
  color: white;
  font-family: nexa;
  font-size: 1.7rem;
  font-weight: bold;
  white-space: normal;
  margin-left: 3rem;
  margin-right: 3rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
}

.container .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.input {
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
  margin-top: 0.5rem;
}

.input:focus {
  border: 2px solid transparent;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.container .input:valid,
.container .input:focus {
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
.button svg{
  margin: 0;
  width: 50px;
}
.leftSvg{
  font-size: 1.5rem;
  font-weight: bold;
}
.searchtBtn{
  width: 13rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}